body{
top: 0px;
padding: 0px;
}

/* Navbar */

li{
list-style: none;
font-size: larger;
}

a{
text-decoration: none;
color: black;

}


.NavCustom{
height: 100px;
background-color: brown;
position: fixed;
top: 0px;
}


/* Fine Navbar */

/* Header */

.headercustom{
/* background-color: red;  */
margin-top: 70px;
height: 100vh;
}

.imgheader{
background-image: url(./Media/retro-futuristic-80s-background-free-vector.jpg);
height:100vh;
background-position: center;
background-size: cover;

}

h1{
font-size: xx-large;
color: white;
flex-wrap: wrap;
}

/* Fine Header */

/* Sezione */

.H2Custom{
height: 100vh;
}

.persezioni{
margin-top: 20px;


}


